include ../title/title.pug
include ../item/item.pug


div(class ="resume-item education")
    +title(require("./components/education/education_icon.png"), "EDUCATION")
- for (var x = 0; x < 4; x++)
    +item