include ../title/title.pug
include ../item/item.pug

-
    const EX_TITLE_ClASS = "experience__title"
    const EX_SRC = require("./components/experience/experience_icon.png")
    const EX_TITLE_NAME = "EXPERIENCE"
    const EX_ALT="experience_icon"
    const EX_WIDTH="153"
    const EX_HEIGHT="148"
    const EX_IMG_CLASS ="experience__img"
    const EX_NAME_CLASS="item__title_black"

    const EX_ITEM = [
        {ITEM_TITLE :"COMPANY NAME",ITEM_PERIOD: "// Feb 2011 - Jun 2014",
         ITEM_DESC:"YOUR JOB HERE",
         ITEM_TEXT:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."
         },
         {ITEM_TITLE :"COMPANY NAME",ITEM_PERIOD: "// Feb 2011 - Jun 2014",
         ITEM_DESC:"YOUR JOB HERE",
         ITEM_TEXT:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."
         },
         {ITEM_TITLE :"COMPANY NAME",ITEM_PERIOD: "// Feb 2011 - Jun 2014",
         ITEM_DESC:"YOUR JOB HERE",
         ITEM_TEXT:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."
         },
         {ITEM_TITLE :"COMPANY NAME",ITEM_PERIOD: "// Feb 2011 - Jun 2014",
         ITEM_DESC:"YOUR JOB HERE",
         ITEM_TEXT:"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."
         },
    ]

div(class ="experience container__experience")
    +title(src||EX_SRC, title_name||EX_TITLE_NAME,alt||EX_ALT,width||EX_WIDTH, height||EX_HEIGHT,img_class||EX_IMG_CLASS)(class=title_class||EX_TITLE_ClASS)
    ul(class="experience__list")
        - for (var i = 0; i < 3; i++)
            +item(EX_ITEM[i].ITEM_TITLE,EX_ITEM[i].ITEM_PERIOD,EX_ITEM[i].ITEM_DESC,EX_ITEM[i].ITEM_TEXT)(class=EX_NAME_CLASS)