.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__photo {
    position: relative;
    margin-bottom: 104px;
    width: 405px;
    height: 405px;
    background-color: #3d6cb0;
    border-radius: 50%;
    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 465px;
      height: 465px;
      border: 2px solid #3d6cb0;
      border-radius: 50%;
      top: -30px;
      right: -30px;
      box-sizing: border-box;
    }
  }
}

%avatar-title {
  display: block;
  color: #000000;
  text-transform: uppercase;
  line-height: 0.7;
}
.avatar__title {
  &_name {
    @extend %avatar-title;
    font-family: "MyriadPro-LightSemiExt", "Arial", sans-serif;
    font-size: 104px;
    font-weight: 400;
    margin-bottom: 26px;
  }
  &_surname {
    @extend %avatar-title;
    font-family: "MyriadPro-Regular", "Arial", sans-serif;
    font-size: 123px;
    font-weight: 700;
    margin-bottom: 40px;
    letter-spacing: 6px;
  }
  &_desc {
    @extend %avatar-title;
    font-family: "MyriadPro-Regular", "Arial", sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
}
