
.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .avatar__wrap {
    margin-top: 176px;
    margin-left: 275px;
    width: 30%;
  }
  
  .photo {
    width: 405px;
    height: 405px;
    background-color: #3d6cb0;
    border-radius: 50%;
  }
  
  .photo__wrap {
    position: relative;
    margin-bottom: 104px;
  }
  .photo__wrap:after {
    position: absolute;
    top: -30px;
    right: -30px;
    box-sizing: border-box;
  }
  
  .photo::after {
    content: "";
    display: block;
    width: 465px;
    height: 465px;
    border: 2px solid #3d6cb0;
    border-radius: 50%;
  }
  
  .title_thin {
    color: #000000;
    font-family: "Myriad Pro - Light Semi Ext";
    font-size: 104px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .avatar__title_thin {
    margin-bottom: 25px;
  }
  
  .title_thick {
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 123px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .avatar__title_thick {
    margin-bottom: 45px;
  }
  
  .desc-text {
    color: #000000;
    font-family: "Myriad Pro";
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
  