@import "../../variables";

@mixin text($family, $size, $weight, $margin) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  margin-bottom: $margin;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
     position: relative;
    width: 56%;
    padding-bottom: 56%;
    border: 2px solid #3d6cb0;
    border-radius: 50%;
    margin: 24px 125px 74px 154px; 

    &:after {
     
      content: "";
      position: absolute;
      top: 6%;
      right: 6%;
      width: 87%;
      height: 87%;
      margin: auto;
      border-radius: 50%;
      background-color: #3d6cb0; 
    }
  }

  &__title {
    display: block;
    color: $black;
    text-transform: uppercase;
    line-height: 0.7;
    margin-left: 31px;
    &_name {
      @include text($font-light, 8.7rem, 400, 26px);
    }
    &_surname {
      @include text($font-bold, 10.25rem, 700, 45px);
    }
    &_desc {
      @include text($font-bold, 4.17rem, 700, 0);
      letter-spacing: -1.1px;
    }
  }
}
