
-
    const NAME = 'Name Here'
    const SURNAME = 'SURNAME'
    const DESCRIPTION = 'GRAPHIC DESIGNER'

div(class="avatar column__avatar")
    div(class="avatar__photo")
    span(class="avatar__title_name") #{name || NAME}
    span(class="avatar__title_surname") #{surname || SURNAME}
    span(class="avatar__title_desc") #{descr || DESCRIPTION}



