@import "../../variables";


@mixin text($family, $size, $weight, $margin) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  margin-bottom: $margin;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrap {
    padding: 54px 125px 0 154px;
    box-sizing: border-box;
  }
  &__photo {
    position: relative;
    margin-bottom: 104px;
    width: 405px;
    height: 405px;
    background-color: $blue;
    border-radius: 50%;
    margin-left: 4px;

    &:after {
      position: absolute;
      content: "";
      display: block;
      width: 465px;
      height: 465px;
      border: 2px solid $blue;
      border-radius: 50%;
      top: -30px;
      right: -30px;
      box-sizing: border-box;
    }
  }

  &__title {
    display: block;
    color: $black;
    text-transform: uppercase;
    line-height: 0.7;
    &_name {
      @include text($font-light, 104px, 400, 26px);
    }
    &_surname {
      @include text($font-bold, 123px, 700, 45px);
    }
    &_desc {
      @include text($font-bold, 50px, 700, 0);
    }
  }
}
