@import "../../variables";

$progress-bar: $grey;
$progress-value: $blue;

.progressbar__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 43%;
  margin-bottom: 25px;
  padding-left:  10px;
}
.progressbar__title {
  font-family: $font-regular;
  font-size: 51px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 35px;
 
}

/* .progressbar__progress::-moz-progress-bar {
  background-color: red;
} */

.progressbar__progress {
  background-color: $progress-bar;
  width: 554px;
  height: 46px;

  &::-webkit-progress-bar {
    background-color: $progress-bar;
  }
  &::-webkit-progress-value {
    background-color: $progress-value;
  }
  &::-moz-progress-bar {
    background-color: $progress-value;
  }
}


.progressbar__progress_dott {
  background-color: $progress-bar;
  width: 554px;
  height: 46px;
  display: table;

  &::-webkit-progress-bar {
    background-color: $progress-bar;
    /* display: table; */
  }
  &::-webkit-progress-value {
    background-color: $progress-value;
    /* display: table-cell; */
    position: relative;
    border-radius: 50px;
    counter-reset: section;
    
   
  }
  &::-moz-progress-bar {
    background-color: $progress-value;
    /* display: table-cell; */
    position: relative;
    border-radius: 50%;
    counter-reset: section;

  }
}