@import "../../variables";

$progress-bar: $grey;
$progress-value: $blue;

.progressbar {
  display: flex;
  flex-wrap: wrap;
  width: 44%;
}

.progressbar__title {
  font-family: $font-regular;
  font-size: 51px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 26px;
}

.progressbar__progress {
  background-color: $progress-bar;
  width: 554px;
  height: 46px;
  border: none;

  &::-webkit-progress-bar {
    background-color: $progress-bar;
  }
  &::-webkit-progress-value {
    background-color: $progress-value;
  }
  &::-moz-progress-bar {
    background-color: $progress-value;
  }
}
