include ../title/title.pug
-
    const PR_TITLE_CLASS = "profile__title"
    const PR_SRC = require("./components/profile/profile_icon.png")
    const PR_TITLE_NAME = "PROFILE"
    const PR_ALT="profile_icon"
    const PR_WIDTH="148"
    const PR_HEIGHT="143"
    const PR_IMG_CLASS ="profile__img"
    const PR_TEXT="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu"
    const PR_ITEM=" pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum."

div(class="profile container__profile")
    +title(title_class||PR_TITLE_CLASS, src||PR_SRC, title_name||PR_TITLE_NAME,alt||PR_ALT,width||PR_WIDTH, height||PR_HEIGHT,img_class||PR_IMG_CLASS)
    p(class="profile__text") #{text || PR_TEXT}
        span(class="profile__span") #{item || PR_ITEM}