@import "../../variables";

.title {
  display: flex;
  align-items: center;

  &__text {
    color: $blue;
    font-family: $font-bold;
    font-size: 6.83rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 0;
    line-height: 0.7;
    flex-grow: 1;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0.92rem;
      background-color: $blue;
      margin-left:1.5rem;
      margin-top: 0.42rem;
    }
  }

}
