@import "../../variables";

$dot: $grey;
$dot-marked: $blue;

.progressdot {
  display: flex;
  flex-wrap: wrap;
  width: 78%;
  justify-content: center;

  &__title {
    font-family: $font-regular;
    font-size: 4.25rem;
    font-weight: 400;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 1.33rem;
    width: 100%;
    text-align: center;
  }

  &__line {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__dot {
    border: 1.5rem solid $dot;
    border-radius: 1.5rem;

    &_marked {
      border-color: $dot-marked;
    }
  }
}
