
mixin progressdot(progress_name, progress_max, progress_value)
    div(class="progressdot__wrap")
        span(class="progressdot__title") #{progress_name}
        div(class="progressdot__line")
            - for (var i = 0; i < progress_max ; i++)
                div(class="progressdot__dot")
        

