.software {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__img {
    width: 12.33rem;
    height: 11.91rem;
    margin-right: 3%;
  }

  &__title {
    margin-bottom: 53px;
    width: 100%;
  }

  &__progressbar {
    margin-bottom: 43px;
    padding-left: 15px;
  }
}
