mixin item(item_title, item_period, item_desc, item_text)
    li(class="item")      
        span(class="item__title_name") #{item_title} 
        span(class="item__title_period") #{item_period}
        span(class="item__title_desc") #{item_desc}
        p(class="item__text") #{item_text}