@import "../../variables";

@mixin text($family, $size, $weight, $margin, $color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  margin: $margin;
  color: $color;
}

.item {
  display: flex;
  flex-wrap: wrap;
  &__wrap {
    position: relative;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 3.33rem;
    height: 3.33rem;
    background: $black;
    border-radius: 50%;
    left: -6.83rem;
    top: 0;
  }

  &__text {
    display: block;
    @include text($font-regular, 2.58rem, 400, 0 0 3rem 0, $black);
  }

  &__title {
    display: block;
    line-height: 0.75;
    text-transform: uppercase;
    &_name {
      @include text($font-bold, 4.25rem, 700, 0 2.75rem 2.66rem 0, $blue);
    }
    &_period {
      @include text($font-regular, 4.25rem, 400, 0 0 2.66rem, $black-light);
      text-transform: none;
    }
    &_desc {
      @include text($font-regular, 4.25rem, 400, 0 0 2rem 0, $black);
      width: 100%;
    }
    &_black {
      color: $black;
    }
  }
}
