.education-item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: 107px;
    margin-bottom: 41px;
  }
  
 .education-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
    left: -87px;
    top: 10px;
  }
  
  .education-item__title_weight-bold {
    color: #3d6cb0;
    font-family: "MyriadPro-Regular","Arial", sans-serif;
    font-size: 51px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .education-item__title_weight-thin {
    color: #020202;
    font-family: "MyriadPro-Regular","Arial", sans-serif;
    font-size: 51px;
    font-weight: 400;
  }
  
  .education-item__title_weight-standart {
    color: #000000;
    font-family: "MyriadPro-Regular","Arial", sans-serif;
    font-size: 51px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 31px;
  }
  
  .education-item_text {
    color: #000000;
    font-family: "MyriadPro-Regular","Arial", sans-serif;
    font-size: 31px;
    font-weight: 400;
    margin: 0;
  }
  