$font-regular: "MyriadPro-Regular", "Arial", sans-serif;
$font-bold:"MyraidPro-Bold", "Arial", sans-serif;
$font-light:"MyriadPro-LightSemiExt", "Arial", sans-serif;

$black:#000000;
$black-light:#020202;
$grey:#e6e6e6;
$blue:#3d6cb0;
