
doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title 
            resume
    body
        .container 
            div(class="container__column container__column_left")
                include ./components/avatar/avatar.pug
                include ./components/profile/profile.pug
            div(class="container__column container__column_right")   
                include ./components/education/education.pug
                include ./components/experience/experience.pug
                include ./components/software/software.pug
