@font-face {
  font-family: MyraidPro-Bold;
  src: url(./fonts/MyriadPro-Bold.svg) format("svg"),
    url(./fonts/MyriadPro-Bold.ttf) format("ttf"),
    url(./fonts/MyriadPro-Bold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MyriadPro-LightSemiExt;
  src: url(./fonts/MyriadPro-LightSemiExt.svg) format("svg"),
    url(./fonts/MyriadPro-LightSemiExt.ttf) format("ttf"),
    url(./fonts/MyriadPro-LightSemiExt.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url(./fonts/MyriadPro-Regular.svg) format("svg"),
    url(./fonts/MyriadPro-Regular.ttf) format("ttf"),
    url(./fonts/MyriadPro-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 12px;
  @media (max-width: 1919.98px) {
    font-size: 9.2px;
  }
  @media (max-width: 1439.98px) {
    font-size: 6.9px;
  }
  @media (max-width: 1199.98px) {
    font-size: 12px;
  }

  /* @media (max-width: 1919.98px) {
    font-size: 9.2px;
  }
  @media (max-width: 1919.98px) {
    font-size: 9.2px;
  } */
}

.container {
  max-width: 2480px;
  /*  max-width: 1920px;
  min-width: 320px; */
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1919.98px) {
    max-width: 100%;
  }
  @media (max-width: 1199.98px) {
    display: block;
    max-width: 100%;
  }

  &__column {
    margin-top: 152px;
    margin-bottom: 191px;

    &_left {
      margin-left: 121px;
      /* margin-left: 5%; */
      width: 33.346%;

       @media (max-width: 1199.98px) {
        width: 100%;
      }
    }

    &_right {
      /* margin-right: 5%; */
      margin-right: 115px;
      width: 51%;

      @media (max-width: 1199.98px) {
        width: 100%;
      }
    }
  }

  &__avatar {
    margin-bottom: 165px;
  }

  &__profile {
    margin-bottom: 92px;
  }

  &__contact {
    margin-bottom: 95px;
  }

  &__skills {
    margin-bottom: 107px;
  }

  &__education {
    margin-bottom: 69px;
  }

  &__experience {
    margin-bottom: 70px;
  }
}

/* 
* {
  outline: 1px solid rgb(228, 207, 16);
} */
